<!DOCTYPE html>
<html>
	<head>
		<title>CHAT</title>
		 <link href="/css/style.css" rel="stylesheet">
		 <link rel="stylesheet" type="text/css" href="/css/hint.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
	</head>
	<body>
		<div class="container">
			<!--<div class="call-noti"></div>-->
			<div class="header"></div>
			<div class="login">
				<h1>ENTER YOUR ID HERE</h1>
				<input type="text" id="username" style="width:200px; height:20px"/>
				<a href="#" title="login" onClick="login()">Login</a>
			</div>
			<!--<div style="position: fixed;left: 36%;width: 280px;height: 160px;background-color: #000;top: 54px;"><video id="localVideo" style="width: 100%"></video></div>-->
			<!--<div style="position: fixed;background-color: #000;bottom: 0px;height: 160px;width: 280px;left: 36%;"><video id="remoteVideo" style="width: 100%"></video></div>-->
			<!--Chat list-->
			<div class="chatList">
					<div class="cl_header"></div>
					<div class="cl_wrap">
						<div class="notification"></div> 
						<div class="list">
							<div class="list_inner">
							<!--Friend list showed here-->
								<div class="list_push"></div>
							</div>
						</div>
						<div class="cl_tool">
							<div class="cl_tool_inner">
								<img src="../img/tool_search.png">
								<input class="search_input" placeholder="Tìm kiếm"/>
								<div class="tool_icon">
									<div class="tool_icon_inner">
										<a class="tool_new_message" title="Tin nhắn mới"></a>
										<a class="tool_setting" title="Tùy chỉnh"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				
			  </div>

			<!--End Chat list-->
			
			<!--Chat box-->
			<div class="box_wrap">
				<div class="box_inner">
				<!--Message showed here-->

					<div class="box_end"></div>
					<div class="overflow_tab" style="display:none">
						<div class="overflow_tab_inner">
							<div class="overflow_icon"></div>
							<div class="number_of_tabs"></div>
						</div>
					</div>
					<div class="overflow_list" style="display:none;">
						<div class="overflow_list_inner">
							<div class="_list_push"></div>
						</div>
					</div>
					<div class="strike_cover" style="display:none;"></div>
				</div>
			</div>
		</div>
	</body>
</html>