<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/script.js"></script>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>ENTER YOUR NAME HERE</h1>
			<input type="text" id="username" style="width:200px; height:20px"></input>
			<!--<button id="setName" onClick="setName()">SET NAME</button>-->
			<a href="/chat" title="login" onClick="setName()">Login</a>
		</div>
	</body>
</html>