.carousel-control {
	background-image: none !important;
}
.carousel-inner .item {
	/*height: 350px;
	overflow: hidden;*/
}
.carousel-inner .item img {
	width: 100%;
}
.content-home {
	overflow: hidden;
	margin-top: 10px;
}
.content-home .hot-product{
	padding: 0;
}
.content-home .top { 
	line-height: 40px;
	display: block;
	background-color: #c61633;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
.content-home .hot-product img {
	width: 90%;
}

.content-home .hot-product .pro-title { 
	line-height: 30px;
	display: block;
	/*background-color: rgba(160,160,160,0.5);*/
	color: #663300;
	font-weight: 700;
	font-size: 22px;
}
.content-home .hot-product .pro-price { 
	line-height: 30px;
	display: block;
	background-color: rgba(204,102,0,0.5);
	color: #181818;
	font-size: 18px;
	font-weight: bold;
}
.content-home .new-product {
	padding: 0;
}
.content-home .new-product ul {

}
.content-home .new-product ul li {
	width: 20%;
	padding: 8px;
	float: left;
	/*border: 1px solid #ccc;*/
	height: 250px;
	margin-top: 20px;
}
.content-home .new-product ul li img{
	width: 90%;
	margin:10px auto;
}
.content-home .new-product ul li .view-detail {
	display: block;
	color: #fff;
	background-color: #282828;
	border: 1px solid #999;
	padding: 5px 10px;
}
.content-home .new-product .pro-img { 
	display: block;
	height: 120px;
}
.content-home .new-product .pro-title { 
	line-height: 25px;
	color: #c41619;
	font-size: 18px;
	font-weight: bold;
}
.content-home .new-product .pro-price { 
	line-height: 25px;
	color: #000;
	font-size: 16px;
}
.content-home .new-product p { 
	color: #c51756;
	font-size: 10px;
}

@media (max-width: 768px) {
  	.carousel-inner .item {
		/*height: 150px;*/
	}
}

.vertical {
	margin: 20px 0;
}
.vertical .carousel-inner {
  	height: 100%;
}
.vertical .carousel-inner img{
	margin: 10px auto;
}


.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 300px;
}

.carousel.vertical .prev {
  top: -300px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -300px;
}

.carousel.vertical .active.right {
  top: 300px;
}

.carousel.vertical .item {
    left: 0;
}